@import "../../styles/responsive.scss";

.data-table {
    width: 100%;

    @include xxl {
        width: calc(100vw - 250px);
    }
    @include lg {
        width: calc(100vw - 125px);
    }
    @include sm {
        width: 100%
    }

    .data-grid {
        background-color: rgb(135, 163, 173);
        padding: 20px;

        .MuiDataGrid-toolbarContainer {
            flex-direction: row-reverse;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .action {
            display: flex;
            gap: 15px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}